<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Bot</title>
	<!--
    <link rel="stylesheet" href="static/css/chat.css">
    <link rel="stylesheet" href="static/css/home.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}" />
	


</head>

<body>
    <!-- CHAT BAR BLOCK -->
    <form>
    <div class="chat-bar-collapsible">
        <button id="chat-button" type="button" class="collapsible active">Nhóm 16
            <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
        </button>

        <div class="content" style="max-height: 500px;">
            <div class="full-chat-block">
                <!-- Message Container -->
                <div class="outer-container">
                    <div class="chat-container">
                        <!-- Messages -->
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                      
                        </div>

                        <!-- User input box -->
                        <div class="chat-bar-input-block">
                            <div id="userInput">
                                <input id="text" class="input-box" type="text" name="msg"
                                    placeholder="Tap 'Enter' to send a message">
                                <p></p>
                            </div>

                            <div class="chat-bar-icons">
                                <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart"
                                    onclick="heartButton()"></i>
                                    <button type="submit" id="send" ><i  style="color: #333;" class="fa fa-fw fa-send"
                                        ></i></button>
                            </div>
                        </div>

                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</form>

    <script>
        $(document).ready(function() {
            $("form").on("submit", function(event) {
                var rawText = $("#text").val();
                var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
                $("#text").val("");
                $("#chatbox").append(userHtml);
                document.getElementById("userInput").scrollIntoView(true);
                $.ajax({
                    data: {
                        msg: rawText,
                    },
                    type: "POST",
                    url: "/get",
                }).done(function(data) {
                    var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                    $("#chatbox").append($.parseHTML(botHtml));
                    document.getElementById("userInput").scrollIntoView(true);
                });
                event.preventDefault();
            });
        });
    </script>
</body>

<script>
	// Collapsible
	var coll = document.getElementsByClassName("collapsible");

	 for (let i = 0; i < coll.length; i++) {
		 coll[i].addEventListener("click", function () {
			 this.classList.toggle("active");

			 var content = this.nextElementSibling;

			 if (content.style.maxHeight) {
				 content.style.maxHeight = null;
			} else {
				 content.style.maxHeight = content.scrollHeight + "px";
			 }

		 });
	}

	function getTime() {
		let today = new Date();
		hours = today.getHours();
		minutes = today.getMinutes();

		if (hours < 10) {
			hours = "0" + hours;
		}

		if (minutes < 10) {
			minutes = "0" + minutes;
		}

		let time = hours + ":" + minutes;
		return time;
	}

	// Gets the first message
	function firstBotMessage() {
		let firstMessage = "How's it going?"
		document.getElementById("botStarterMessage").innerHTML = '<p class="botText"><span>' + firstMessage + '</span></p>';

		let time = getTime();

		$("#chat-timestamp").append(time);
		document.getElementById("userInput").scrollIntoView(true);
	}

	firstBotMessage();
</script>

</html>